@import "../../Common/colors.scss";

.movies-card{
    // background-color: red;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.movies-card .sliders .slider .post{
    
    height: 50vh;

    background-color: $primary-color;
     margin-top: 50px;
    // border-color: red;
    transition: 0.2s;
}
h3{
    color: wihte;
}
// DESIGNING THE SLIDER
.movies-card .slider{
    // background-color: aqua;
    // width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    padding: 5px;
}
// CARD IMAGE
.movies-card .sliders .slider .post img{
margin: 0px 20px;
width: 75%;
height: 38vh;
cursor: pointer;
border-radius: 10px;
}
.movies-card .sliders .slider .post:hover{
    transform: scale(1.1,1.2);
    
}
.post .title{
    color: $font-primary;
    margin:0.8em 0.8em;
}