@import "../../Common/colors.scss";

.movies-card{
    height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.movies-card .card-title{
    color: $font-primary;
}
 .mywiper{
    // background-color: blue;
    height: 90vh;
    width: 100%;
    padding: 5px;

}
.mySwiper .slides .card-data{
    //  height: 200vh;
     width: 100%;
     background-color: $third-color;
    //  background-color: red;
    //  padding: 15px;

}
// STYLING THE MOVIE CARD IMAGE
.mySwiper .slides .card-data img{
    height: 40vh;
    width: 100%;
  transition: 0.4s;

}
// STYLING THE MOVIE CARD TITLE
.mySwiper .slides .card-data .movie-title{
    // height: 40vh;
    // width: 102%;
  transition: 0.4s;
  color: $font-primary;
  

}
.mySwiper .slides .card-data{
    // background-color: blue;
    height: 50vh;
    cursor: pointer;
    width: 96%;
    cursor: pointer;
    transition: 0.4s;
    // padding: 1px 2px 5px 10px;   
    margin-left: 5px;
}
.mySwiper .slides .card-data img:hover{
    // background-color: black;
    width: 102%;
    height: 42vh;
}

.movie-rating
{
    margin-top: 5px;
    color:$font-primary
}